/*

.center-pane-header-container {
	width:250px;
	margin:40px auto;
}

.center-pane-header {
	font-family: Arial;
	font-size: 11pt;
	color: #edf5f6;
}

.center-pane-content {
	font-family: Arial;
	color: #edf5f6;
}

.translate-icon-container {
	margin: 40px auto;
	width: 200px;
}

#google-translate-img {
	height: 200px;
	width: 200px;
}

.transText {
	font-size: 14pt;
}

.transTextColor {
	color: blue;
}
*/